<!DOCTYPE html>
<html ng-app="GOT">
<head>
  <title>Game Of Thrones Search</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'shared/nav' %>

  <div class="container">
    <% if content_for?(:header) %>
      <%= content_for(:header) %>
    <% end %>
    
    <%= render 'shared/alert_messages' %>
    
    <%= yield %>

  </div>

  <%= render 'shared/footer' %>
</body>
</html>
